@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
    .hero-section {
        max-width: 767px;
        height: 436px;
    }

    .benefits-item {
        max-width: 396px;
    }

    .benefits-subtitle {
        color: var(--navyblue, #2E2F42);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-align: center;
    }

    .benefits-item-text {
        color: var(--slate, #434455);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
    }

    .footer-input{
        width: 398px;
    }

}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .hero{
        max-width: 1157px;
    }

    .hero-title{
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07; 
        margin-bottom: 36px;
    }
    
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .benefits-item,
    .team-item{
        max-width: 264px;
        width: calc((100% - 24px) / 2);
    }

    .benefits-subtitle {
        text-align: start;
    }

    .container-team{
        max-width: 584px;
        margin: 0 auto;
        padding: 0;
    }

    .team{
        padding-top: 96px;
        padding-bottom: 96px; 
    }

    .team-list{
        flex-wrap: wrap;
        flex-direction: row;
        gap: 64px 24px;
    }

    .container-fifth{
        max-width: 584px;
    }

    .fifth-icon-list{
        gap: 72px 24px;
        
    }

    .fifth-icon{
        width: calc((100% - 48px) / 3)
    }

    .footer{
        padding: 0;
    }

    .footer-container{
        gap: 72px 24px;
    }

    .footer-box,
    .footer-contacts,
    .footer-bottom{
        align-items: flex-start;
    }

    .footer-item-text{
        text-align: left;
        margin: 0;
    }

    .footer-bottom{
        display: flex;
        flex-direction: column;
        margin-right: 45px;
    }

    .footer-form{
        flex-direction: row;
    }

    .footer-input{
        width: 264px;
    }

    .hero{
        padding: 112px 136px 204px 136px;
        }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    .hero{
        max-width: 1440px;
        height: 600px;
        padding: 188px 0;
        margin-bottom: 48px;
    }

    .benefits-list {
        background-color: #FFFFFF;
        display: flex;
        gap: 24px;
        flex-wrap: nowrap;
    }

    .benefits-item {
        position: relative;
        width: calc((100% - 72px) /4);
    }

    .benefits-item-icons {
        display: block;
    }

    .benefits-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
    }

    .benefits-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
    }

    .container-team{
        max-width: 1158px;
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
        }

    .team-list{
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .team-item{
        width: calc((100% - 72px) / 4);
    }

    .section-fifth{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .container-fifth{
        min-width: 1158px;
    }

    .fifth-icon-list{
        gap: 72px 24px;
    }

    .fifth-icon{
        width: calc((100% - 120px) / 6);
    }

    .footer{
        padding: 100px 0;
        /* gap: unset; */
    }

    .footer-container {
        align-items: baseline;
        /* gap: unset; */
    }
    .footer-box{
        /* margin-right: 120px; */
    }
    .footer-item-text {
        max-width: 264px;
    }

    .footer-contacts{
        margin-right: 80px;
    }

    .products{
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px){.team>.container,
.container-fifth>.container, .footer-container>.container {
    width: 584px;
    margin: 0 auto;
    padding: 0;
    }
}